.arrow {
  float: right;
  font-weight: bold;
}

ul {
  background-color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: square;
  list-style-position: inside;
  font-size: 18px;
  padding: 10px;
  line-height: 1em;
  border: 3px dashed green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
  margin: 10px;
  text-indent: 15px;
}

li.main:first-letter {
font-size: 150%;
}

ol {
  background-color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  counter-reset: item;
  font-size: 18px;
  padding: 10px;
  border: 3px dashed green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.oli::before {
  counter-increment: item;
  content: counter(item) ". ";
}

main {
  font-family: Arial, Helvetica, sans-serif;
} 

h1 {
  margin: 50px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: darkblue;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: left;
  text-shadow: 3px 3px 3px white;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  border: 3px solid darkgrey;
  padding: 10px;
  text-shadow: 3px 3px 3px blueviolet;
}

p {
  text-indent: 25px;
  background-color: lightblue;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 1em;
  font-size: 16px;
}

img {
  margin-right: 20px;
}